<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
</head>
<body>
    Список клиентов
    <ul>
        <a th:each="client: ${clients}"
           th:href="@{/clients/{id}(id = ${client.getId()})}">
            <li  th:text="${client.getSurname() + ' ' + client.getName() + ', '
            + #dates.format(client.getBirthdate(), 'dd MMM yyyy')} ">
            ></li>
        </a>
    </ul>

    <a href="http://localhost:8080/clients/new">Создать клиента</a>
</body>
</html>